<div class="flex flex-col flex-auto min-w-0">
  <div class="flex flex-col shadow bg-card">
    <div>
      <img
        src="https://images.unsplash.com/photo-1533669955142-6a73332af4db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1274&q=80"
        alt="Cover image"
        class="h-40 lg:h-80 object-cover profile"
      />
    </div>
    <div
      class="flex flex-col flex-0 lg:flex-row items-center max-w-5xl w-full mx-auto p-6 lg:h-18 bg-card"
    >
      <div class="-mt-20 lg:mt-22 rounded-full">
        <img
        src="https://images.unsplash.com/photo-1546776310-eef45dd6d63c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=810&q=80"
          alt="User avatar"
          class="w-32 h-32 rounded-full ring-4 ring-bg-card"
        />
      </div>
      <div
        class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-8"
        *ngIf="!loading"
      >
        <div class="text-lg font-bold leading-none">{{ user?.name }}</div>
        <div class="text-lg font-bold leading-none">
          {{ user?.status }}
        </div>
        <div class="text-lg font-bold leading-none">{{ user?.preferences }}</div>
      </div>
      <div
        class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-8"
        *ngIf="loading"
      >
        <div class="text-lg font-bold leading-none">Loading ....</div>
      </div>

      <div class="hidden lg:flex h-8 mx-8 border-l-2"></div>
      <div class="flex items-center mt-8 mb-4 lg:m-0 lg:ml-auto space-x-6">
        <a
          class="font-medium"
          [routerLink]="['/home']"
          [routerLinkActive]="['active']"
        >
          Home
        </a>
        <a
          class="text-secondary"
          [routerLink]="['/profile']"
          [routerLinkActive]="['active']"
          >Edit Profile</a
        >
      </div>
    </div>
  </div>
  <div class="flex flex-auto w-full max-w-5xl mx-auto p sm:p-8 pt-2">
    <div class="hidden lg:flex flex-col items-start mr-8">
      <mat-card class="flex flex-col max-w-80 w-full p-8">
        <div class="text-2xl font-semibold leading-tight">
          Your Recent Activity
        </div>
        <div class="mt-4">
          We display the recent activity related to books and lecture activities
          <br />
          Finish a book or lend a book to get a unique POAP
          <br />
        </div>
        <hr class="w-full border-t my-6" />
        <div class="flex flex-col my-3">
          <div class="flex items-center">
            <mat-icon
              role="img"
              class="mat-icon icon-size-5 mr-3 mat-icon-no-color"
              aria-hidden="true"
              >history
            </mat-icon>
            <span class="leading-none">
              {{ user?.booksRead?.[0] }}
            </span>
          </div>
          <div class="flex items-center mt-4">
            <mat-icon
              class="mat-icon icon-size-5 mr-3 mat-icon-no-color"
              aria-hidden="true"
              >history
            </mat-icon>
            <span class="leading-none">
              {{ user?.booksRead?.[1] }}

            </span>
          </div>
          <div class="flex items-center mt-4">
            <mat-icon
              class="mat-icon icon-size-5 mr-3 mat-icon-no-color"
              aria-hidden="true"
              >history
            </mat-icon>
            <span class="leading-none">
              {{ user?.booksRead?.[2] }}
            </span>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="flex flex-col items-start">
      <mat-card
        *ngIf="!loading"
        class="flex flex-col md:flex-row justify-between max-w-80 md:max-w-160 w-full p-8 pb-4"
      > POAP'S
        <mat-divider> </mat-divider>
        <br />
        <div
          class="order-1 md:order-2 w-full md:w-40 md:ml-6 mb-8 md:mb-4 rounded-lg overflow-hidden"
        >
          <img
            src="https://avatars.githubusercontent.com/u/71664718?s=200&v=4"
            alt="Card cover image"
            class="w-full h-full object-cover"
          />
        </div>
      </mat-card>
    </div>
  </div>

  <br />
  <div
    *ngIf="!loading"
    class="flex flex-wrap sm:flex-nowrap items-start w-full max-w-400 w-full max-w-5xl mx-auto p sm:p-8 bg-semi-black"
  >
  <form class="w-full max-w-lg">
    <div class="flex flex-wrap -mx-3 mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
          Your Name
        </label>
        <input id="name" [formControl]="name" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" placeholder="Jane">
        <p *ngIf="!name.valid"class="text-red-500 text-xs italic">Please fill out this field.</p>
      </div>
      <div class="w-full md:w-1/2 px-3">
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
          Preferred Category
        </label>
        <select id="preferred" [formControl]="preferred" class="bg-gray-200 border border-gray-300 text-gray-700 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-200 dark:border-gray-100 dark:placeholder-gray-400 dark:text-gray-700 dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option value="" disabled> Select</option>
          <option value="Scifi">Sci-Fi</option>
          <option value="Terror">Terror</option>
          <option value="Drama">Drama</option>
          <option value="History">History</option>
          <option value="Science">Science</option>
        </select>
      </div>
    </div>

    <div class="flex flex-col max-w-80 w-full items-center">
      <div>
        <div class="m-4">
          <button
            class="flex items-center rounded-lg bg-indigo-500 px-4 py-2 text-white"
            (click)="saveData()"
            [disabled]="!preferred.valid && !name.valid"
          >
            <mat-icon>save</mat-icon>
            Save Data
          </button>
        </div>
      </div>
    </div>

  </form>

  </div>
  </div>
