<div class="text-center"> <h1> Todays Recommended Lecture</h1></div>

<div class="max-w-sm w-full lg:max-w-full lg:flex">
  <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('https://www.humanmade.net/files/images/frankenstein-by-mary-shelley.jpg')" title="Modern Prometeus">
  </div>
  <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
    <div class="mb-8">
      <p class="text-sm text-gray-600 flex items-center">
        <svg class="fill-current text-gray-500 w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />
        </svg>
        Members only
      </p>
      <div class="text-gray-900 font-bold text-xl mb-2">Frankenstein by Mary Shelley</div>
      <p class="text-gray-700 text-base">This edition of Frankenstein approaches the story of the Mary Shelleys original concept of Frankenstein’s Monster - a self-reflection of the darker side of Victor Frankenstein and, therefore, the reader.</p>
    </div>
    <div class="flex items-center">
      <div class="text-sm">
        <p class="text-gray-900 leading-none">Humanmade</p>
        <p class="text-gray-600">July 25</p>
      </div>
    </div>
  </div>
</div>

<br><br>

<mat-card class="home" *ngIf="authenticated">
  <div>
    <h2> Welcome </h2>
    <h3> {{profile?.name}}</h3>
    <h3> {{user?.email}}</h3>

    <div style="padding: 1rem" *ngIf="moreData">
      <h3> Please add more information to complete your profile </h3>
      <button class="border border-indigo-500 bg-indigo-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-indigo-600 focus:outline-none focus:shadow-outline"
       [routerLink]="['/profile']"><mat-icon>manage_accounts</mat-icon>Edit Account</button>
    </div>
<hr>
  </div>

</mat-card>


